<div>
    <a href="{% url 'home' %}">Home</a>
    <a href="{%  url 'add_film' %}">Dodaj film</a>
    <a href="{% url 'add_author' %}">Dodaj autora</a>
    <a href="{% url 'add_publisher' %}">Dodaj wydawnictwo</a>
    <a href="{% url 'add_distributor' %}">Dodaj dystrybutora</a>
    <a href="{% url 'add_genre' %}">Dodaj gatunek</a>
    <a href="{% url 'film_list' %}">Lista filmow</a>
</div>
<div>
    {% if user.is_authenticated %} {# tak jak w base.html zmienne przekazuje autoamtycznie widok poprzez logout(request) #}
    <a href="{%  url 'logout' %}">Wyloguj</a>
    {% else %}
    <a href="{% url 'register' %}">Załóż konto</a>
    <a href="{% url 'login' %}">Zaloguj</a>
    {% endif %}
</div>